<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-warning">
        <h4 class="card-title">Discover new courses</h4>
        <p class="card-category">
          Start your investment journey with our tailor-made courses!
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title">Course 1: Stock markets for children</h4>
              </div>
              <div class="card-body">
                <p>Get started with the basics of stock market</p>
                <div class="container">
                  <img
                    src="./assets/img/course_tile.jpg"
                    alt="Course thumbnail"
                    class="image"
                  />
                  <div class="middle">
                    <div class="text">Enroll</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Course 2: Understanding Bond Market</h4>
              </div>
              <div class="card-body">
                <p>Get started with the basics of stock market</p>
                <div class="container">
                  <img
                    src="./assets/img/course_tile.jpg"
                    alt="Course thumbnail"
                    class="image"
                  />
                  <div class="middle">
                    <div class="text">Enroll</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">
                  Course 3: Getting started with Insurance
                </h4>
              </div>
              <div class="card-body">
                <p>Learn about health and life insurance</p>
                <div class="container">
                  <img
                    src="./assets/img/course_tile.jpg"
                    alt="Course thumbnail"
                    class="image"
                  />
                  <div class="middle">
                    <div class="text">Enroll</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Row 2-->
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title">Course 4: F&O for Beginners</h4>
                </div>
                <div class="card-body">
                  <p>Understand the basic concepts of Future and Options</p>
                  <div class="container">
                    <img
                      src="./assets/img/course_tile.jpg"
                      alt="Course thumbnail"
                      class="image"
                    />
                    <div class="middle">
                      <div class="text">Enroll</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">
                    Course 5: The science of Equity markets
                  </h4>
                </div>
                <div class="card-body">
                  <p>Understand the basic concepts of stock market</p>
                  <div class="container">
                    <img
                      src="./assets/img/course_tile.jpg"
                      alt="Course thumbnail"
                      class="image"
                    />
                    <div class="middle">
                      <div class="text">Enroll</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title">Course 6: How money works!</h4>
                </div>
                <div class="card-body">
                  <p>
                    Have you ever wondered how money works? Learn more...
                  </p> 
                  <div class="container">
                    <img
                      src="./assets/img/course_tile.jpg"
                      alt="Course thumbnail"
                      class="image"
                    />
                    <div class="middle">
                      <div class="text">Enroll</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
