<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Offers for you!</h4>
        <p class="card-category">
          Avail best offers that come with your βeta card!
        </p>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-info">
                <h4 class="card-title"> Offer 1: Get 50% flat off</h4>
              </div>
              <div class="card-body">
                <div class="container">
                  <img
                    src="./assets/img/offers_title.jpg"
                    alt="Course thumbnail"
                    class="image"
                  />
                  <div class="middle">
                    <div class="text">Avail</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title"> Offer 2: Get 50% flat off</h4>
              </div>
              <div class="card-body">
                <div class="container">
                  <img
                    src="./assets/img/offers_title.jpg"
                    alt="Course thumbnail"
                    class="image"
                  />
                  <div class="middle">
                    <div class="text">Avail</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">
                    Offer 3: Get 50% flat off
                </h4>
              </div>
              <div class="card-body">
                <div class="container">
                  <img
                    src="./assets/img/offers_title.jpg"
                    alt="Course thumbnail"
                    class="image"
                  />
                  <div class="middle">
                    <div class="text">Avail</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--Row 2-->
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-success">
                  <h4 class="card-title"> Offer 4: Get 50% flat off</h4>
                </div>
                <div class="card-body">
                  <div class="container">
                    <img
                      src="./assets/img/offers_title.jpg"
                      alt="Course thumbnail"
                      class="image"
                    />
                    <div class="middle">
                      <div class="text">Avail</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-warning">
                  <h4 class="card-title">
                    Offer 5: Get 50% flat off
                  </h4>
                </div>
                <div class="card-body">
                  <div class="container">
                    <img
                      src="./assets/img/offers_title.jpg"
                      alt="Course thumbnail"
                      class="image"
                    />
                    <div class="middle">
                      <div class="text">Avail</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-header card-header-danger">
                  <h4 class="card-title"> Offer 6: Get 50% flat off</h4>
                </div>
                <div class="card-body">
                  <div class="container">
                    <img
                      src="./assets/img/offers_title.jpg"
                      alt="Course thumbnail"
                      class="image"
                    />
                    <div class="middle">
                      <div class="text">Avail</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
