<div class="main-content">
  <div class="container-fluid">
    <!-- Top action info. -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Quick account actions</h4>
          </div>
          <div class="card-body">
            <ul>
              <li>Add money to the card</li>
              <li>
                Download historical account statement (PDF/MS Money/Excel/CSV)
              </li>
              <li>View/analyze expenditure</li>
              <li>Request/Block a βeta card</li>
              <li>Parental control settings</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Expenditure summary -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Expenditure Summary</h4>
            <p class="card-category">
              Historical transactions summary for the current month (August)
            </p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-danger">
                  <th>Txn Id</th>
                  <th>Outlet</th>
                  <th>Amount</th>
                  <th>Location</th>
                  <th>Date</th>
                </thead>
                <tbody>
                  <tr>
                    <td>1.</td>
                    <td>Amazon</td>
                    <td class="text-danger">₹50</td>
                    <td>Online debit</td>
                    <td>08-Aug-2021</td>
                  </tr>
                  <tr>
                    <td>2.</td>
                    <td>Other</td>
                    <td class="text-danger">₹20</td>
                    <td>Delhi</td>
                    <td>08-Aug-2021</td>
                  </tr>
                  <tr>
                    <td>3.</td>
                    <td>KFC</td>
                    <td class="text-danger">₹150</td>
                    <td>POS</td>
                    <td>06-Aug-2021</td>
                  </tr>
                  <tr>
                    <td>4.</td>
                    <td>Subway</td>
                    <td class="text-danger">₹100</td>
                    <td>POS</td>
                    <td>05-Aug-2021</td>
                  </tr>
                  <tr>
                    <td>5.</td>
                    <td>Online Balance Recharge</td>
                    <td class="text-success">₹1000</td>
                    <td>PayTM</td>
                    <td>04-Aug-2021</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
